@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600");
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid none;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: none;
  -webkit-box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

html {
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

* {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
button,
h1,
h2,
h3,
h4,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
span,
a,
dd {
  color: inherit;
  margin: 0;
  font-family: "Inter";
  text-decoration: none;
}

.wrapper {
  max-width: 100vw;
  overflow: hidden;
  width: 100%;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo, .logo img {
  width: 80px;
  height: 80px;
}

.header_intro_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.header_intro_inner a {
  color: #201C55;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.header_intro_inner a:hover {
  color: #A27035;
}

.cart {
  cursor: pointer;
}

.cart:hover svg path {
  fill: #936531;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
}

.intro_img {
  position: relative;
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.intro_img img {
  width: 100%;
  height: 100%;
}

.intro_img:first-child {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}

.intro_img:last-child {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
}

.intro.visible .intro_img {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.intro_info_border {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.title h1 {
  color: #242331;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
}

.intro_info {
  height: 87%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 20px 10px;
  border: 2px solid #A27035;
  gap: 30px;
}
.intro_info h1 {
  color: #242331;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
}
.intro_info p {
  color: #242331;
  font-size: 20px;
  font-weight: 400;
}

section {
  margin-bottom: 150px;
}

.goToCatalog_main {
  margin-top: 50px;
}

.goToCatalog_main li:last-child {
  border-bottom: 1px solid #A27035;
}

.goToCatalog_main li {
  position: relative;
  cursor: pointer;
  border-top: 1px solid #A27035;
  height: 100px;
  width: 100%;
  padding-left: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.goToCatalog_main li a {
  color: #242331;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.goToCatalog_main li img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  right: -10%;
  z-index: -1;
  -webkit-animation: run 1s infinite;
          animation: run 1s infinite;
}

.goToCatalog_main_li {
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.goToCatalog_main_li.visible {
  opacity: 1;
}

@-webkit-keyframes run {
  0% {
    -webkit-transform: translate(-100px, -50%);
            transform: translate(-100px, -50%);
  }
  50% {
    -webkit-transform: translate(100px, -50%);
            transform: translate(100px, -50%);
  }
  100% {
    -webkit-transform: translate(-100px, -50%);
            transform: translate(-100px, -50%);
  }
}

@keyframes run {
  0% {
    -webkit-transform: translate(-100px, -50%);
            transform: translate(-100px, -50%);
  }
  50% {
    -webkit-transform: translate(100px, -50%);
            transform: translate(100px, -50%);
  }
  100% {
    -webkit-transform: translate(-100px, -50%);
            transform: translate(-100px, -50%);
  }
}
.goToCatalog_main li:hover img {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 1;
  z-index: 2;
}

.goToCatalog_main li:hover a {
  color: #A27035;
}

.craetDesign_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  gap: 100px;
}

.craetDesign_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 500px;
  gap: 30px;
}

.btn {
  padding-bottom: 10px;
  position: relative;
  color: #201C55;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.btn svg {
  position: absolute;
  top: 20px;
  left: 0;
}

.craetDesign_img {
  margin-top: 100px;
}
.craetDesign_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn:hover {
  color: #B88B4A;
}

.advantages_title {
  color: #242331;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.advantages_subtitle {
  color: #242331;
  font-size: 20px;
  font-weight: 400;
}

.advantages_inner {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.advantages_item {
  max-width: 560px;
  width: 100%;
  padding: 30px 30px;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #A27035;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.advantages_item:first-child {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}

.advantages_item:last-child {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
}

.advantages_inner.visible .advantages_item {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.advantages_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: auto;
}
.advantages_btn .btn {
  display: block;
  margin-right: 60px;
  margin-top: 50px;
}

.accordion_inner:last-child {
  border-bottom: 1px solid #A27035;
}

.accordion_inner {
  border-top: 1px solid #A27035;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.accordion_inner h3 {
  padding-top: 10px;
  color: #242331;
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}
.accordion_inner ul {
  margin: 0;
  padding: 0;
}
.accordion_inner ul li {
  margin-bottom: 1;
}
.accordion_inner p {
  max-width: 700px;
}

.accordion-content {
  -webkit-transition: none;
  transition: none;
  display: none;
  padding: 10px;
  margin: 30px 0 10px;
  background-color: #fff;
}

.accordion-button {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 20px;
  top: 15px;
  display: block;
  width: 55px;
  height: 55px;
  border: none;
  background: none;
}
.accordion-button span:first-child {
  height: 2px;
  border-radius: 2px;
  -webkit-transform: translate(-2px, 0px);
          transform: translate(-2px, 0px);
}
.accordion-button span:last-child {
  width: 45px;
  height: 2px;
  -webkit-transform: rotate(90deg) translate(-1px, 2px);
          transform: rotate(90deg) translate(-1px, 2px);
}
.accordion-button span {
  background: #201C55;
  margin: 0 auto;
  border-radius: 2px;
  display: block;
  width: 45px;
}

.accordion-button.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 2px solid #201C55;
}

footer {
  padding: 100px 0;
  background: #A27035;
}

.footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_inner .mainlogo {
  height: 150px;
  width: 150px;
}
.footer_inner .mainlogo a {
  width: 100%;
  height: 100%;
}
.footer_inner .mainlogo a svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer_info_txt {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}
